@media screen and (min-width: 1880px) and (max-width: 1980px) {
	.home {
	    height: 1535px;
	    background-position: none;
		.container {
			width: 1618px;
		}
		.header_ipad {
	    	margin-bottom: 75px;
	    	padding-top: 148px;
	    	.logo {
	    		margin: 0 4% 0 4%;
	    		width: 20%;
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 170px;
	    	.block_title_home {
	    		width: 59%;
    		 	margin-top: 100px;
 			 	margin-bottom: 100px;
	    	}
		    .block_icons {
		    	margin: 10px 70px 40px 70px;
		    	width: 11%;
		    	a {
				    .icons_img {
				    	height: 110px;
				    	width: 110px;
				    }
		    	}
		    }
	    }
    	.text_after {
    		font-size: 20px;
			margin-bottom: 20px;
	  		margin-top: 392px;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			}
		} 
	}
}

@media screen and (min-width: 1680px) and (max-width: 1880px) {
	.home {
	    height: 1418px;
	    background-position: none;
		.container {
			width: 1500px;
		}
		.header_ipad {
	    	margin-bottom: 75px;
	    	padding-top: 136px;
	    	.logo {
	    		margin: 0 4% 0 4%;
	    		width: 20%;
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 74px;
	    	.block_title_home {
	    		width: 62%;
    		 	margin-top: 90px;
 			 	margin-bottom: 90px;
	    	}
		    .block_icons {
		    	margin: 10px 65px 40px 65px;
		    	width: 11%;
		    	a {
				    .icons_img {
				    	height: 110px;
				    	width: 110px;
				    }
		    	}
		    }
	    }
    	.text_after {
    		font-size: 20px;
			margin-bottom: 20px;
	  		margin-top: 392px;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			}
		} 
	}
}

@media screen and (min-width: 1500px) and (max-width: 1680px) {
	.home {
	    height: 1165px;
	    background-position: none;
		.container {
			width: 1235px;
		}
		.header_ipad {
	    	margin-bottom: 75px;
	    	padding-top: 113px;
	    	.logo {
	    		margin: 0 4% 0 4%;
	    		width: 20%;
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 74px;
	    	.block_title_home {
	    		width: 75%;
    		 	margin-top: 20px;
 			 	margin-bottom: 40px;
	    	}
		    .block_icons {
		    	margin: 10px 40px 40px 40px;
		    	width: 11%;
		    	a {
				    .icons_img {
				    	height: 85px;
				    	width: 85px;
				    }
		    	}
		    }
	    }
    	.text_after {
			margin-bottom: 20px;
	  		margin-top: 392px;
    		font-size: 20px;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			}
		}
	}
}

@media screen and (min-width: 1366px) and (max-width: 1500px) {
	.home {
	    height: 1090px;
		.container {
			width: 1180px;
		}
		.main_ipad {
	    	margin-bottom: 74px;
	    	.block_title_home {
	    		width: 75%;
    		 	margin-top: 0px;
 			 	margin-bottom: 80px;
	    	}
		    .block_icons {
		    	margin: 10px 51px 40px 51px;
		    	width: 11%;
		    	a {
				    .icons_img {
				    	height: 85px;
				    	width: auto;
				    }
		    	}
		    }
	    }
		.text_after {
			margin-bottom: 20px;
	  		margin-top: 167px;
    		font-size: 21px;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			}
		}
	}
}

@media screen and (min-width: 1315px) and (max-width: 1366px) {
	.home {
	    height: 1010px;
	    .container {
	    	width: 1135px;
	    	padding-right: 0px;
	    	padding-left: 0px;
	    }
	    .header_ipad {
	    	margin-bottom: 80px;
	    	padding-top: 82px;
	    	.logo {
	    		margin: 0 4% 0 4%;
	    		width: 20%;
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 17px;
	    	.block_title_home {
	    		margin-bottom: 90px;
	    		width: 83%;
	    	}
		    .block_icons {
		    	margin: 10px 49px 40px 49px;
		    	width: 11%;
		    	a {
				    .icons_img {
				    	height: 80px;
				    	width: auto;
				    }
		    	}
		    }
	    }
	    .contacts_block {
	    	.img_place {
				height: 255px;
  				width: 340px;
	    	}
	    	.adress {
	    		width: 35%;
	    		.span_adress {
					font-size: 20px;
	    		}
	    	}
    	}
    	.text_after {
    		font-size: 21px;
			margin-bottom: 20px;
	  		margin-top: 150px;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			}
		}
	}
}

@media screen and (min-width: 1279px) and (max-width: 1320px) {
	body {
		height: 960px;
		.container {
	    	width: 1065px;
	    }
	    .header_ipad {
	    	margin-bottom: 50px;
	    	padding-top: 74px;
	    	.logo {
	    		margin: 0 3% 0 3% !important;
	    		width: 21% !important;
	    	}
	    	.adress_header {
				width: 22% !important;
	    	}
	    	.phone_header {
	    		width: 35% !important;
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 35px;
	    	.block_title_home {
	    		margin-bottom: 95px;
	    		width: 88%;
	    	}
		    .block_icons {
		    	margin: 10px 49px 40px 49px;
		    	width: 10%;
		    	a {
				    .icons_img {
				    	height: 75px;
				    	width: auto;
				    }
		    	}
		    }
	    }
	    .text_after {
    		font-size: 21px;
			margin-bottom: 20px;
	  		margin-top: 150px;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			}
		}
	}
}

@media screen and (min-width: 1240px) and (max-width: 1279px) {
	body {
		height: 900px;
		.container {
	    	width: 1030px;
	    }
	    .header_ipad {
	    	margin-bottom: 50px;
	    	padding-top: 57px;
	    	.logo {
	    		margin: 0 3% 0 3% !important;
	    		width: 21% !important;
	    	}
	    	.adress_header {
				width: 22% !important;
	    	}
	    	.phone_header {
	    		width: 35% !important;
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 0px;
	    	.block_title_home {
	    		width: 91%;
	    		margin-bottom: 100px;
	    	}
		    .block_icons {
		    	margin: 10px 49px 40px 49px;
		    	width: 10%;
		    	a {
				    .icons_img {
				    	height: 75px;
				    	width: auto;
				    }
		    	}
		    }
	    }
	    .footer_ipad {
			.copy {
				margin-right: 5%;
			}
		} 
	    .text_after {
  			margin-bottom: 20px;
		  	margin-top: 115px;
	    }
	}
}

@media screen and (min-width: 1080px) and (max-width: 1240px) {
	body {
		height: 900px;
		.container {
	    	width: 1030px;
	    }
	    .header_ipad {
	    	margin-bottom: 50px;
	    	padding-top: 70px;
	    	.logo {
    		  	padding: 25px 0 25px 0 !important;
	    		margin: 0 3% 0 5% !important;
	    		width: 21% !important;
	    	}
	    	.adress_header {
				width: 22% !important;
	    	}
	    	.phone_header {
	    		width: 35% !important;
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 0px;
	    	.block_title_home {
	    		margin-bottom: 65px;
	    		width: 91%;
	    	}
		    .block_icons {
		    	margin: 10px 49px 28px 49px;
		    	width: 10%;
		    	a {
				    .icons_img {
				    	height: 75px;
				    	width: auto;
				    }
		    	}
		    }
	    }
	    .text_after {
    		font-size: 21px;
			margin-bottom: 20px;
	  		margin-top: 105px;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			}
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1080px) {
	body {
		height: 820px;
		.container {
	    	width: 870px;
	    }
	    .header_ipad {
	    	margin-bottom: 40px;
	    	padding-top: 78px;
	    	.header_icon {
				font-size: 30px;
	    	}
	    	.logo {
    		  	padding: 25px 0 25px 0 !important;
	    		margin: 0 2% 0 2% !important;
	    		width: 27% !important;
	    	}
	    	.adress_header {
				width: 30% !important;
    		  	margin: 0 1% 0 1% !important;
	    		.text_desc {
					font-size: 17px;
				}
	    	}
	    	.phone_header {
	    		margin: 0% !important;
	    		width: 34% !important;
				.text_desc {
					font-size: 17px;
				}	    	
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 0px;
	    	.block_title_home {
	    		margin-bottom: 65px;
	    		width: 92%;
	    		.img_wrench {
	    			height: 50px;
	    			width: 50px;
	    		}
	    		.title_text {
	    			font-size: 33px;
	    		}
	    	}
		    .block_icons {
		    	margin: 10px 35px 24px 35px;
  				width: 11%;
		    	a {
				    .icons_img {
				    	height: 60px;
				    	width: auto;
				    }
		    	}
		    }
	    }
	    .text_after {
    		font-size: 21px;
			margin-bottom: 20px;
	  		margin-top: 105px;
	  		.text_bold {
	  			color: #fff;
	  		}
	  		.list_block {
	  			.title_home_list {
					color: #fff !important;
	  			}
	  		}
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			}
		} 
	}
}

@media screen and (min-width: 930px) and (max-width: 1024px) {
	body {
		background: url('../images/wallpaper.jpg') no-repeat !important;
    	-webkit-background-size: cover;
		background-attachment: fixed !important;
		background-position: center !important;
    	-moz-background-size: cover;
    	-o-background-size: cover;
   	 	background-size: cover !important;
		.container {
	    	width: 100%;
	  	}
	  	.header_ipad {
	    	margin-bottom: 50px;
	    	padding-top: 0;
	    	.header_icon {
				font-size: 30px;
	    	}
	    	.logo {
    		  	padding: 20px 0 20px 0 !important;
	    		margin: 0 0 0 2% !important;
	    		width: 26% !important;
	    	}
	    	.adress_header {
				width: 23% !important;
    		  	margin: 0 1% 0 1% !important;
	    		.text_desc {
					font-size: 16px;
				}
	    	}
	    	.phone_header {
	    		margin: 0 0 0 3% !important;
	    		width: 34% !important;
				.text_desc {
					font-size: 17px;
				}	    	
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 75px;
	    	.block_title_home {
	    		margin-bottom: 55px; 
	    		width: 88%;
	    		.img_wrench {
	    			height: 50px;
	    			width: 50px;
	    		}
	    		.title_text {
	    			font-size: 34px !important;
	    		}
	    	}
		    .block_icons {
		    	margin: 10px 37px 24px 37px;
  				width: 11%;
		    	a {
				    .icons_img {
				    	height: 60px;
				    	width: auto;
				    }
		    	}
		    }
	    }
	    .text_after {
			margin-bottom: 20px;
	  		margin-top: 105px;
	    	background: none;
    		font-size: 21px;
	    	color: #fff;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			 	margin-top: 4%;	
			}
		} 
	}
}

@media screen and (min-width: 740px) and (max-width: 930px) {
	body {
		background: url('../images/wallpaper.jpg') no-repeat !important;
    	-webkit-background-size: cover;
		background-attachment: fixed !important;
		background-position: center !important;
    	-moz-background-size: cover;
    	-o-background-size: cover;
   	 	background-size: cover !important;
		.container {
	    	width: 100%;
	  	}
	  	.header_ipad {
	    	margin-bottom: 50px;
	    	padding-top: 0;
	    	.header_icon {
				font-size: 30px;
	    	}
	    	.logo {
    		  	padding: 20px 0 20px 0 !important;
	    		margin: 0 0 0 2% !important;
	    		width: 26% !important;
	    		img {
	    			width: 100%;
	    		}
	    	}
	    	.adress_header {
				width: 26% !important;
    		  	margin: 0 1% 0 1% !important;
	    		.text_desc {
					font-size: 16px;
				}
	    	}
	    	.phone_header {
	    		margin: 0 !important;
	    		width: 42% !important;
				.text_desc {
					font-size: 17px;
				}	    	
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 75px;
	    	.block_title_home {
	    		margin-bottom: 55px;
	    		.img_wrench {
	    			height: 40px;
	    			width: 40px;
	    		}
	    		.title_text {
	    			font-size: 23px;
	    		}
	    	}
		    .block_icons {
		    	margin: 10px 15px 24px 15px;
  				width: 15%;
		    	a {
				    .icons_img {
				    	height: 60px;
				    	width: auto;
				    }
		    	}
		    }
	    }
	    .text_after {
			margin-bottom: 20px;
	  		margin-top: 105px;
	    	background: none;
    		font-size: 21px;
	    	color: #fff;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			 	margin-top: 4%;	
			}
		} 
	}
}

@media screen and (min-width: 640px) and (max-width: 740px) {
	body {
		background: url('../images/wallpaper.jpg') no-repeat !important;
    	-webkit-background-size: cover;
		background-attachment: fixed !important;
		background-position: center !important;
    	-moz-background-size: cover;
    	-o-background-size: cover;
   	 	background-size: cover !important;
		.container {
	    	width: 100%;
	  	}
	  	.header_ipad {
	    	margin-bottom: 50px;
	    	padding-top: 0;
	    	.header_icon {
				font-size: 30px !important;
	    	}
	    	.logo {
    		  	padding: 20px 0 20px 0 !important;
	    		margin: 0 0 0 2% !important;
	    		width: 26% !important;
	    		img {
	    			width: 100%;
	    		}
	    	}
	    	.adress_header {
				width: 27% !important;
    		  	margin: 0 1% 0 1% !important;
	    		.text_desc {
					font-size: 14px;
				}
	    	}
	    	.phone_header {
	    		margin: 0 !important;
	    		width: 41% !important;
				.text_desc {
					font-size: 14px;
				}	    	
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 75px;
	    	.block_title_home {
	    		margin-bottom: 40px; 
	    		.img_wrench {
	    			height: 40px;
	    			width: 40px;
	    		}
	    		.title_text {
	    			font-size: 20px;
	    		}
	    	}
		    .block_icons {
		    	margin: 10px 15px 24px 15px;
  				width: 14%;
		    	a {
				    .icons_img {
				    	height: 60px;
				    	width: auto;
				    }
				    .icon_description {
				    	font-size: 20px;
				    }
		    	}
		    }
	    }
	    .text_after {
			margin-bottom: 20px;
	  		margin-top: 105px;
	    	background: none;
    		font-size: 21px;
	    	color: #fff;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			 	margin-top: 4%;	
			}
		}
	}
}

@media screen and (min-width: 550px) and (max-width: 640px) {
	body {
		background: url('../images/wallpaper.jpg') no-repeat !important;
    	-webkit-background-size: cover;
		background-attachment: fixed !important;
		background-position: center !important;
    	-moz-background-size: cover;
    	-o-background-size: cover;
   	 	background-size: cover !important;
		.container {
	    	width: 100%;
	  	}
	  	.header_ipad {
	    	margin-bottom: 50px;
	    	padding-top: 0 !important;
	    	.bg_header {
	    		padding-bottom: 25px;
	    	}
	    	.header_icon {
				font-size: 30px !important;
	    	}
	    	.logo {
    		  	padding: 20px 0 20px 0 !important;
	    		margin: auto !important;
    		  	display: table;
	    		width: 50% !important;
	    		img {
	    			width: 100%;
	    		}
	    	}
	    	.adress_header {
				width: 34% !important;
    		  	margin: 0 3% 0 3% !important;
	    		.text_desc {
					font-size: 16px;
				}
	    	}
	    	.phone_header {
	    		margin: 0 !important;
	    		width: 55% !important;
				.text_desc {
					font-size: 16px;
				}	    	
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 75px;
	    	.block_title_home {
	    		width: 90%;
	    		margin-bottom: 40px; 
	    		.img_wrench {
	    			display: none !important;
	    		}
	    		.title_text {
	    			font-size: 23px !important;
	    			margin-left: 0px;
	    		}
	    	}
		    .block_icons {
		    	margin: 10px 15px 24px 15px;
  				width: 13% !important;
		    	a {
				    .icons_img {
				    	height: 60px;
				    	width: auto;
				    }
				    .icon_description {
				    	font-size: 20px;
				    }
		    	}
		    }
	    }
	    .text_after {
			margin-bottom: 20px;
	  		margin-top: 105px;
	    	background: none;
    		font-size: 21px;
	    	color: #fff;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			 	margin-top: 4%;	
			}
		}
	}
}

@media screen and (min-width: 400px) and (max-width: 550px) {
	body {
		background: url('../images/wallpaper.jpg') no-repeat !important;
    	-webkit-background-size: cover;
		background-attachment: fixed !important;
		background-position: center !important;
    	-moz-background-size: cover;
    	-o-background-size: cover;
   	 	background-size: cover !important;
		.container {
	    	width: 100%;
	  	}
	  	.header_ipad {
	    	margin-bottom: 50px;
	    	padding-top: 0 !important;
	    	.bg_header {
	    		padding-bottom: 25px;
	    	}
	    	.header_icon {
				font-size: 30px !important;
	    	}
	    	.logo {
    		  	padding: 20px 0 20px 0 !important;
	    		margin: auto !important;
    		  	display: table;
	    		width: 50% !important;
	    		img {
	    			width: 100%;
	    		}
	    	}
	    	.adress_header {
				width: 34% !important;
    		  	margin: 0 3% 0 3% !important;
	    		.text_desc {
					font-size: 16px;
				}
	    	}
	    	.phone_header {
	    		margin: 0 !important;
	    		width: 55% !important;
				.text_desc {
					font-size: 16px;
				}	    	
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 75px;
	    	.block_title_home {
	    		margin-bottom: 40px; 
	    		.img_wrench {
	    			display: none;
	    		}
	    		.title_text {
	    			font-size: 23px;
	    		}
	    	}
		    .block_icons {
		    	margin: 10px 15px 24px 15px;
  				width: 13% !important;
		    	a {
				    .icons_img {
				    	height: 60px;
				    	width: auto;
				    }
				    .icon_description {
				    	font-size: 20px;
				    }
		    	}
		    }
	    }
	    .text_after {
			margin-bottom: 20px;
	  		margin-top: 105px;
	    	background: none;
    		font-size: 21px;
	    	color: #fff;
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			 	margin-top: 4%;	
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 400px) {
	body {
		background: url('../images/wallpaper.jpg') no-repeat !important;
    	-webkit-background-size: cover;
		background-attachment: fixed !important;
		background-position: center !important;
    	-moz-background-size: cover;
    	-o-background-size: cover;
   	 	background-size: cover !important;
		.container {
	    	width: 100%;
	  	}
	  	.header_ipad {
	    	margin-bottom: 50px;
	    	padding-top: 0 !important;
	    	.bg_header {
	    		padding-bottom: 25px;
	    	}
	    	.header_icon {
				font-size: 30px !important;
	    	}
	    	.logo {
    		  	padding: 20px 0 20px 0 !important;
	    		margin: auto !important;
	    		width: 50% !important;
    		  	display: table;
	    		img {
	    			width: 100%;
	    		}
	    	}
	    	.adress_header {
    		  	margin: auto !important;
				width: 60% !important;
				display: table;
	    		.text_desc {
					font-size: 16px;
				}
	    	}
	    	.phone_header {
	    		margin: auto !important;
	    		width: 87% !important;
	    		display: table;
				.text_desc {
					font-size: 16px;
				}	    	
	    	}
	    }
	    .main_ipad {
	    	margin-bottom: 75px;
	    	.block_title_home {
	    		margin-bottom: 40px; 
	    		.img_wrench {
				  	display: none;
	    		}
	    		.title_text {
	    			font-size: 23px;
	    		}
	    	}
		    .block_icons {
		    	margin: 10px 17px 24px 17px;
  				width: 21% !important;
		    	a {
				    .icons_img {
				    	height: 50px;
				    	width: auto;
				    }
				    .icon_description {
				    	font-size: 12px;
				    }
		    	}
		    }
	    }
	    .text_after {
			margin-bottom: 20px;
	  		margin-top: 105px;
	    	background: none;
    		font-size: 21px;
	    	color: #fff;
	    	.img_after {
	    		img {
	    			width: 300px;
	    		}
	    	}
    	}
	    .footer_ipad {
	    	width: 100%;
			.copy {
				margin-right: 5%;
			 	margin-top: 4%;	
			}
		}
	}
}