.main_ipad {
	.services_description {
		font-family: $main-font;
		margin-bottom: 20px;	  	
		line-height: 30px;
		font-size: 22px;
  		overflow: auto;
	 	height: 570px;
	  	color: bisque;
  		width: 100%;
  		&::-webkit-scrollbar {
  			display: none;
  		}
  		.service_color {
  			color: yellow;
	 		font-size: 24px;
  		}
		.services_list {
			margin: 15px 0 5px 0;
		}
		.serv_list {
			font-family: $main-font;
			margin-left: 15px;
			font-size: 22px;
			li {
				display: list-item;
			}
			a {
				color: aquamarine;
				&:hover {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}
}